<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @appointment.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @appointment.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @appointment.age %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @appointment.date_of_birth %>
</p>

<p>
  <strong>City:</strong>
  <%= @appointment.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @appointment.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @appointment.zip_code %>
</p>

<p>
  <strong>Urgency:</strong>
  <%= @appointment.urgency %>
</p>

<p>
  <strong>Appt time:</strong>
  <%= @appointment.appt_time %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @appointment.note %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
